![[Pasted image 20260625111437.png]]
